extends works
block workTitle
  h1 Apkallu
  p x, 2008-2011
  p Installation by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/apkallu-1.jpg")

block workText
  p Conceived on the heels of 9/11, Apkallu, a site specific installation is part of a larger international project which presents the work of eight artists inspired by work in the Metropolitan Museum of Art's collection.
  p The light projection brings the ancient Near East into dialogue with the present through transposed stone relief panels from the palace of Ashurnasirpal II, in the Assyrian Court in the Metropolitan Museum.
  p Apkallu are genii or protective spirits from ancient Mesopotamia, now modern day Iraq.  As the winged genii attend a sacred tree, the mythological imagery takes us out of the realm of the ordinary and into the realm of art and the imagination. Its resurection is the human need to heal.  It is a call for peace.
  
block workImages
//  img(src="../assets/images/crow-construction-2.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="three-tiers.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work