extends works
block workTitle
  h1 Crow Series: 7 Wands
  p x, 2008-2011
  p Paintings by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/7-wands-1.jpg")

block workText
  p Parker curated a series of dance music collaborations, based on the concept how architecture informs the movement of people. Wood-Brown created Sticks and Stones, an installation that was arranged in a new configuration each evening. Seven Wands is Wood-Brown and Parker's exploration of an installation where seven different dancers performed inside a structure they could rearrange. Parker weaves through the space of the projected images, as her movements enter into the forest of poles and cinder blocks. Consciously creating a new footprint, Parker takes the ideas of memory, two-dimensional space, and iconic image into a three-dimensional animation.These footprints become the voice, while the physical structure of the poles and cinderblocks act as an iambic pentameter. The flexible, viable form of the installation mirrors the dialog between Parker and Wood-Brown who are interested in stories and what makes experience. 
  p "The enduring presence of those cinder blocks on stage, as if a constant reminder of the importance of even the most basic objects ... highlights the fundamental nature of the tangible." - Rachel Simhon, Saturday March 13, 2010.
  
  
block workImages
  img(src="../assets/images/7-wands-2.jpg")
  img(src="../assets/images/7-wands-3.jpg")
  img(src="../assets/images/7-wands-4.jpg")
  img(src="../assets/images/7-wands-5.jpg")
  img(src="../assets/images/7-wands-6.jpg")
  img(src="../assets/images/7-wands-7.jpg")
  img(src="../assets/images/7-wands-8.jpg")
  img(src="../assets/images/7-wands-9.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="cs-crow-flies.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work