extends works
block workTitle
  h1 Crow Series: As the Crow Flies
  p x, 2009
  p x by Jo Wood Brown, x by Miriam Parker
  
block workMainImage
  img(src="../assets/images/crow-flies-1.jpeg")

block workText
  p The video of the city street abstracts what is seen to what is experienced by altering the speed, clarity and collage of the projected images. Within this environment the musician builds his landscape creating another layer that can only be seen in sound. 
  p As he walks performing among the changing installation he is hidden and revealed, filtered through translucent and opaque structures, and movement meets film; walking meets rhythm; nature meets culture.
  p The two channels create parallel worlds in flux: people walking, the flow of traffic, and the passage of waterfalls. Live saxophone combined with black and white video roots the performance in a kind of history. 
  
block workImages
  img(src="../assets/images/crow-flies-2.jpeg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="cs-crow-construction.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work