extends works
block workTitle
  h1 Crow Series: Painted Stills and Paintings
  p x, 2008-2011
  p Paintings by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/cs-painting-1.jpg")

block workText
//  p Incubatio are ancient structures where people came to dream the future. Incubatio video is a composite of collaborative work by Jo Wood-Brown and Miriam Parker. 
//  p It merges the landscape of NYC with Jordan and Texas, and nature with urban life. Wood-Brown and Parker juxtapose movement and painted stills to create time-based paintings that express a multitude of destinations concrete and imaginary...
  
  
block workImages
  img(src="../assets/images/cs-painting-3.jpg")
  img(src="../assets/images/cs-painting-2.jpg")
  img(src="../assets/images/cs-painting-4.jpg")
  img(src="../assets/images/cs-painting-5.jpg")
  img(src="../assets/images/cs-painting-6.jpg")
  img(src="../assets/images/cs-painting-7.jpeg")
  img(src="../assets/images/cs-painting-8.jpg")
  img(src="../assets/images/cs-painting-9.jpg")
  img(src="../assets/images/cs-painting-10.jpg")
  img(src="../assets/images/cs-painting-11.jpg")
  img(src="../assets/images/cs-painting-12.jpg")
  img(src="../assets/images/cs-painting-13.jpg")
  img(src="../assets/images/cs-painting-14.jpg")
  img(src="../assets/images/cs-painting-15.jpg")
  img(src="../assets/images/cs-painting-16.jpg")
  img(src="../assets/images/cs-painting-17.jpg")
  img(src="../assets/images/cs-painting-18.jpg")
  img(src="../assets/images/cs-painting-19.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="cs-7-wands.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work