extends works
block workTitle
  h1 Inner City, Performance 
  p x, 2011
  p x by Jo Wood Brown, x by Miriam Parker
  
block workMainImage
  img(src="../assets/images/ic-studio-1.JPG")

block workText
  p InnerCity Night uses the architecture of InnerCity studio as the set for the dance. Parker works with the qualities of the materials in the installation and adds the body as another element.
  p In Variation 1, dancers activate the mythic structures of the painted stills and bring to life the imagery that bridges ordinary people to the archetypal. Parker develops different and distinct qualities with each dancer reflecting the diversity that is found in the city, exploring what is home, where we find refuge, and how we get there. 
  p In Variation 2, Parker takes the dancers down to the ground, working with the landscape of the body to create a moving breathing topography as counterpoint to the urban architecture. 
  p In Variation 3, Parker is pulled through the streets and assimilates the memories of a city, filled with people who have come to fulfill their hopes and dreams.. 
  
block workImages
//  img(src="../assets/images/ic-studio-2.jpg")
//  img(src="../assets/images/ic-studio-3.jpg")
//  img(src="../assets/images/ic-studio-4.jpg")
//  img(src="../assets/images/ic-studio-5.jpg")
//  img(src="../assets/images/ic-studio-6.png")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="ic-city-to-city.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work