extends works
block workTitle
  h1 Inner City: Painted Stills and Paintings
  p x, 2011-2013
  p Paintings by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/ic-painting-1.jpg")

block workText
//  p Incubatio are ancient structures where people came to dream the future. Incubatio video is a composite of collaborative work by Jo Wood-Brown and Miriam Parker. 
//  p It merges the landscape of NYC with Jordan and Texas, and nature with urban life. Wood-Brown and Parker juxtapose movement and painted stills to create time-based paintings that express a multitude of destinations concrete and imaginary...
  
  
block workImages
  img(src="../assets/images/ic-painting-3.jpg")
  img(src="../assets/images/ic-painting-2.jpg")
  img(src="../assets/images/ic-painting-4.jpg")
  img(src="../assets/images/ic-painting-5.jpg")
  img(src="../assets/images/ic-painting-6.jpg")
  img(src="../assets/images/ic-painting-7.jpg")
  img(src="../assets/images/ic-painting-8.jpg")
  img(src="../assets/images/ic-painting-9.jpg")
  img(src="../assets/images/ic-painting-10.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="cs-painted-stills.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work