extends works
block workTitle
  h1 Inner City, Studio Installation
  p 499 Studios, NYC, 2014
  p x by Jo Wood Brown, x by Miriam Parker
  
block workMainImage
  img(src="../assets/images/ic-studio-1.JPG")

block workText
  p InnerCity studio is a multi-media installation is based on New York City and the movement of people in transition. Viewers move through a labyrinth of a deconstructed city.
  p It explores experience in-between destinations and how we are always elsewhere... InnerCity employs devises that combine visual, choreographic, filmic and sonic elements that overlap poetically and metaphorically creating a world between dream and reality. 
  
block workImages
  img(src="../assets/images/ic-studio-2.jpg")
  img(src="../assets/images/ic-studio-3.jpg")
  img(src="../assets/images/ic-studio-4.jpg")
  img(src="../assets/images/ic-studio-5.jpg")
  img(src="../assets/images/ic-studio-6.png")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="ic-dance-performance.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work