extends works
block workTitle
  h1 Incubatio Installation
  p 5 Myles Art Gallery, Brooklyn, 2013
  p x by Jo Wood Brown, x by Miriam Parker
  
block workMainImage
  img(src="../assets/images/incubatio-installation.JPG")

block workText
  p Incubatio installation, a 3-day multimedia installation situates as an urban refuge for dreaming, it includes live performances that place the viewer within a montage of film, sculpture, dance, music and poetry. 
  
block workImages
//  img(src="../assets/images/2.jpg")
//  img(src="../assets/images/3.jpg")
//  img(src="../assets/images/4.jpg")
//  img(src="../assets/images/5.jpg")
//  img(src="../assets/images/6.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="ic-studio-installation.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work