extends works
block workTitle
  h1 Incubatio
  p x, 2011
  p x by Jo Wood Brown, x by Miriam Parker
  
block workMainImage
  img(src="../assets/images/Incubatio-1.png")

block workText
  p Incubatio are ancient structures where people came to dream the future. Incubatio video is a composite of collaborative work by Jo Wood-Brown and Miriam Parker. 
  p It merges the landscape of NYC with Jordan and Texas, and nature with urban life. Wood-Brown and Parker juxtapose movement and painted stills to create time-based paintings that express a multitude of destinations concrete and imaginary...
  
  
block workImages
  img(src="../assets/images/Incubatio-2.png")
  img(src="../assets/images/Incubatio-3.png")
  img(src="../assets/images/Incubatio-4.png")
  img(src="../assets/images/Incubatio-5.png")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="ic-painted-stills.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work