extends works
block workTitle
  h1 Light Rain
  p Vision Festival at the Judson Church, 2015
  p Installation by Jo Wood Brown, performance by Miriam Parker
  
block workMainImage
  img(src="../assets/images/light-rain-1.jpg")

block workText
  p Light Rain was an installation by Jo Wood-Brown for the occasion of the Twentieth Anniversary of the Vision Festival at Judson Church. On July 8th, Miriam Parker performed with bassists William Parker and Michael Bisio within the installation.
  p “In working with helium I address unseen forces; for some that is music, for others spirituality and for many of us the magic of a balloon floating in space.”
  p Light Rain conveys the palpable fragility of forms that drift, rise and fall over the course of the festival until they ultimately landed.
  
block workImages
  img(src="../assets/images/light-rain-2.jpg")
//  img(src="../assets/images/light-rain-1.jpg")
//  img(src="../assets/images/light-rain-1.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="the-station.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work