extends works
block workTitle
  h1 Making Line
  p x, 1982-1985
  p Performance Sculptures by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/making-line-1.jpg")

block workText
  p A series of "Performance Sculptures" created by Jo Wood-Brown. Making Line was performed during the 20 to 30 minutes it took for plaster, the main element in these works, to change from a liquid to a solid. Jo's movements were trapped in the plaster and could be broken up and taken home..
  
block workImages
  img(src="../assets/images/making-line-2.png")
  img(src="../assets/images/making-line-3.png")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="light-rain.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work