extends works
block workTitle
  h1 The Station
  p Whitebox Art Space, NYC, 2014
  p Installation by Jo Wood Brown, performance by Miriam Parker
  
block workMainImage
  img(src="../assets/images/1.JPG")

block workText
  p The Station was a two-hour immersive live installation of sound, light, movement, and sculpture that explored how we form our world through images.
  p In The Station, the viewer becomes immersed in an interactive performance of dance and sculpture, integrating reality through the lens of the imagination. The images represent paintings and studio experiments from the evolving collaboration between Jo Wood-Brown and Miriam Parker.
  
block workImages
  img(src="../assets/images/2.jpg")
  img(src="../assets/images/3.jpg")
  img(src="../assets/images/4.jpg")
  img(src="../assets/images/5.jpg")
  img(src="../assets/images/6.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="incubatio-installation.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work
  