extends works
block workTitle
  h1 Three Tiers
  p x, 2007
  p Performance by Miriam Parker, x by Jo Wood Brown
  
block workMainImage
  img(src="../assets/images/three-tiers-1.jpg")

block workText
  p Descending from the eaves at the Orensanz, a large kinetic sculpture of copper tubing and translucent paper flags revolved weightless in the air currents. Martin's video, begun by painting Parker's body and then filming it in her studio, was projected on to the moving surfaces. In the live performance, Parker danced between the ever-changing surfaces to claim her identity.
  p Hamid Drake's prescient rhythm enveloped the turning world created by the coming together of these elements.
  
block workImages
  img(src="../assets/images/three-tiers-2.jpg")
  
block nextWork 
  a(href="../index.html")
    img(src="../assets/images/skyline.svg")
    p Home
  a(href="making-line.html")
    img(src="../assets/images/right-arrow.svg")
    p Next Work