$iphone-5: 320px;
$iphone-6: 375px;
$iphone-6-plus: 414px;
$break-med: 700px;
$break-large: 1200px;

html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;  /* equals 10px */
}

.main-wrapper {
    position: relative;
    z-index: 0;
}

.hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    mix-blend-mode: difference;
    
    .hams {
        width: 35px;
        height: 3px;
        margin: 7px 0;
        background: white;
    }
    
    @media screen and (max-width: $iphone-6-plus) {
        display: block;
    }
}

.home-sec {
    display: flex;
    flex-direction: column;
    height: 100vh;  
    width: 100%;
    position: relative;
    z-index: 1;
}


.first-section {
    display: flex;
    width: 100%;
    height: 50%;
    background: #ffffff;
    justify-content: center;
    
   h1 {
        font-size: 7em;
        color: #111111;
        font-family: Times;
        text-align: center;
        flex: 1 0 auto;
        align-self:flex-end;
        @media screen and (max-width: $iphone-6-plus) {
                font-size: 5em;
        } 
    }
}

 

.second-section {
    width: 100%;
    height: 35%;
    background: #111111;
    
   .h3 {
        font-size: 3.5em;
        color: #ffffff;
        font-family: Times;
        text-align: center;
        padding: 14px 200px;
        line-height: 1.75;
        @media screen and (max-width: $break-med) {
                padding: 14px 100px;
        }
       @media screen and (max-width: $iphone-6-plus) {
                font-size: 3em; 
        }
       @media screen and (max-width: $iphone-6) {
                padding: 14px 60px;
        }
//       @media screen and (max-width: $iphone-5) {
//                font-size: 2.7em;
//        }
    } 
}

.nav {
    font-size: 2.5em;
    width: 100%;
    height: 15%;
    background: #111111;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    ul {
        padding:0;
        list-style: none;
        color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-self:flex-end;
        flex: 1;
        text-align: center;
        @media screen and (max-width: $iphone-6-plus) {
//                flex-flow: column wrap;
                  display: none;
        }
        
        li {
            flex: 1;
            align-self:flex-end;
            @media screen and (max-width: $iphone-6-plus) {
//                width: 100%;
//                padding: 1px 0;
            }
        }
    }
   
}

.about-sec {
    width: 100%;
    height: 100vh;
    
    .first-section-about {
        display: flex;
        width: 100%;
        height: 50%;
        background: #ffffff;
        justify-content: center;
        
        .h2 {
            color: #111111;
            font-family: Times;
        }
        
        p {
            padding: 10px 200px;
            align-self: flex-end;
            font-size: 3em;
            color: #111111;
            
            @media screen and (max-width: $break-med) {
                padding: 10px 100px;
            }
            @media screen and (max-width: $iphone-6-plus) {
                padding: 10px 60px;
            }
        }
    } 
    .second-section-about {
        display: flex;
        width: 100%;
        height: 50%;
        background: #111111;
        justify-content: center;
        
        p {
            padding: 10px 200px;
            align-self: flex-start;
            font-size: 3em;
            color: #ffffff;
            text-align: right;
            
            @media screen and (max-width: $break-med) {
                padding: 10px 100px;
            }
            @media screen and (max-width: $iphone-6-plus) {
                padding: 10px 60px;
            }
        }
    } 
}
 